body{
	height: 8000px;
	overflow: hidden;
}
/*start btn scroll top*/
#scroll-top{
	position: fixed;
	right: 0;
	bottom: 50px;
	z-index: 99999;
	display: none;
}
.scroll-top button{
	background-color: none;
}
/*end btn scroll top*/
/*start loading section*/

.mmm{
	background-color: #222;
	color: #FFF;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999;
	top:0;
	left: 0;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #777;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*end loading section*/
/*start option box section*/
.tool-option{
	z-index: 9999;
	position: fixed;
	top: 100px;
	left: 0;
}

.tool-option .color-box{
	float: left;
	background: #333;
	color: #FFF;
	padding:10px;
	width: 200px;
	display: none;
}
.tool-option i{
	color:#FFF;
}
.tool-option .color-box ul li{
	display: inline-block;
	margin-right: 3px;
	width: 20px;
	height: 20px;
	background: #F00;


}
/*end option box section*/
.navbar{
	min-height: 70px;
	    margin-bottom: 0;
}
/*change background color to link has class active and foucus and hover*/
/*change background color to dropdown-menu and color and make border top */
.dropdown-menu{
	background-color: #333;
	color: #FFF;
	min-width: 200px;
}
.navbar-brand{
	color: #FFF;
	font-size: 30px;
	line-height: 40px;
}
.navbar-inverse .navbar-nav>li>a{
	padding-top: 25px;
	padding-bottom: 25px;
    font-size: 16px;

}
.navbar-right .dropdown-menu{
	left: 0;
	right: auto;
}
 /*make color #FFF to links that there is in dropdown menu*/
.dropdown-menu>li>a{
	color: #FFF;
	padding: 6px 20px;
	-webkit-transition:padding 0.5s ease;
	-moz-transition:padding 0.5s ease;
	-o-transition:padding 0.5s ease;
	transition:padding 0.5s ease;
}
/*change background color to links that there is in dropdown-menu and color */
.dropdown-menu>li>a:focus,
 .dropdown-menu>li>a:hover{
	color: #FFF;
	padding-left: 25px;
 }
.dropdown-menu .divider {
	background-color: #871818;
}
.navbar-toggle{
	margin-top: 18px;
}

.myCarosel {
	background: url("images/04.jpg");
}


.carousel-inner>.item>a>img, 
.carousel-inner>.item>img{
	margin: auto;
} 
.carousel-indicators {
	bottom: 0;
}
.carousel-indicators li{
	width: 15px;
    height: 15px;
}
.carousel-indicators .active{
	width: 17px;
    height: 17px;
    border :1px solid #e2dfdf;
}
/*start about section*/
.about{
	padding-top: 60px;
	padding-bottom : 60px;
}
.about h1 {
	font-weight: bold;
}
.about .lead{
	color: #888;
}

/*end about section*/
/*start featuers section*/
.featuers{
	background-color: #EEE;
}
.featuers h1{
	padding-top: 50px;
	padding-bottom: 50px;
}
.featuers .feat{
	margin-bottom: 30px;
}
.featuers .feat span{
	font-size: 22px;
	margin-bottom: 10px;
	color: #666;
}
.featuers .feat p{
	line-height: 2em;
}
/*end featuers section*/


/*start testimonials section*/
.testimonials{
	padding-top: 50px;
	padding-bottom: 50px;
}
.testimonials p{
	line-height: 2em;
}
.testimonials span{
	font-weight: bold;
	font-size: 22px;
}
.testimonials .carousel-inner{
	min-height: 160px;

}
.testimonials .carousel-indicators{
	position: static;
	width: 100%;
	margin-left: auto;
	padding-top: 20px;
	overflow: hidden;
}
.testimonials .carousel-indicators li{
	text-indent: 0;
	width: 80px;
	height: 80px;
	opacity: 0.4;
	border-radius: 50%;
	overflow: hidden;	
	background: none;	
	margin: 5px;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;

} 
.testimonials .carousel-indicators li.active{

width: 80px;
	height: 80px;
	opacity: 1;
}
.testimonials .carousel-indicators li img{
	max-width: 100%;
}
/*end testimonials section*/
/*start price table section*/
.price-table{
	background-color: #EEE;
	padding-top: 40px;
	padding-bottom: 40px;
} 
.price-table h1{
	margin-bottom: 40px
}
.price-table .price-box{
	background-color: #FFF;
	margin-bottom: 10px;
	padding: 10px;
	border:1px solid #DDD;
	margin-bottom: 15px;
}
.price-table .price-box:hover p{
 -webkit-transform:	scale(1.1,1.1) rotate(360deg);
 -moz-transform:scale(1.1,1.1) rotate(360deg);
 -o-transform:scale(1.1,1.1) rotate(360deg);
 transform:scale(1.1,1.1) rotate(360deg);
 border: 2px solid #DFDFDF;
}
.price-table .price-box h2{
margin: 5px 0 15px;
}
.price-table .price-box p{
	font-weight: bold;
	font-size: 35px;
	color: #666;
	width:100px;
	height: 100px;
	line-height: 100px;
	border-radius: 50%;
	background-color: #F3F3F3;
	border:3px solid#FFF;
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	-o-transition-duration:0.7s;
	transition-duration: 0.7s: 
}
.price-table .price-box ul{
	font-weight: bold;
	color:#666;
	line-height: 250%;
}
.price-table .price-box a{
	margin-bottom: 5px;
}
/*end price table section*/

/*start our team section*/
.our-team{
	background: url("../images/cover.jpg") no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover; 
	min-height: 600px;
	width:100%;
} 
.our-team h1{
	margin-bottom: 60px;
}
.our-team .team{
	background: rgba(2,2,2,0.7);
		color: #f1f1f1;
	min-height: 600px;
	padding-top: 40px;
	padding-bottom: 40px;

}
.our-team .team .person{
	margin-bottom: 40px;
}
.our-team .team .person img{
	width: 100px;
	height: 100px;
}
/*end our team section*/
/*start subcrip section*/

.subscribe{
	background-color: #EEE;
	padding-top: 40px;
	padding-bottom: 70px;
}
.subscribe h1{
	padding-bottom: 15px
}
.subscribe p{
	padding-bottom: 15px;
}
.subscribe .form-inline input{
	border-radius:0 ;
    margin-right: -4px;
}
.subscribe .form-inline .btn{
border-radius:0 ;	
}



/*end subcrip section*/
/*start statistics section*/
.statistics {
	background: url("../images/cover2.jpg")no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
	min-height: 300px;
}
.statistics .stat{
	background: rgba(2,2,2,0.7);
	min-height: 300px;
	padding-bottom: 40px;
	padding-top:40px;
	color: #B6B5B5;
}
.statistics .stat .our-stat {
	margin-bottom: 40px;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	transition:0.5s ease;
	cursor: pointer;
}
.statistics .stat .our-stat:hover{
	color: #FFF;
}
.statistics .stat h1{
	margin-bottom: 60px;
}
.statistics .stat .our-stat p{
	font-size: 35px;
	font-weight: 900;
}

/*end statistics section*/
/*start skills section*/
.skills{
	padding-top: 40px;
	padding-bottom: 70px;
}
.skills .progress{
	height: 38px; 
	
}
.skills .progress .progress-bar{
	line-height: 38px;
	text-align:left;
	text-indent: 10px;
}
.skills h1{
	margin-bottom: 60px;
}
.skills  h2{
	margin-top:0;
}
/*end skills section*/
/*start contact us section*/
.contact-us {
	background: url("../images/contact.jpg")no-repeat center center fixed ;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	min-height: 300px;
}
.contact-us .fields{
	background: rgba(2,2,2,0.7);
	min-height: 300px;
	padding-top: 40px;
	padding-bottom: 70px;
	color:#FFF;
}
.contact-us .fields p{
	margin-bottom: 40px;
}
.contact-us .fields textarea{
	height: 108px;
}
.contact-us .fields button{
    height: auto;

}
.contact-us .fields input[type="text"],
 .contact-us .fields textarea{
 	background: rgba(82,78,78,0.5);
 	border: none;
 }

/*end contact us section*/
/*start clients section*/
.clients{
	background: #EEE;
	padding-top: 20px;
	padding-bottom: 20px;
}
.clients img{
	margin-top: 20px;
	margin-bottom: 20px;
	opacity: 0.4;
	-webkit-transition:0.7s ease;
	-moz-transition:0.7s ease;
	-o-transition:0.7s ease;
	transition:0.7s ease;
}
.clients img:hover{
	opacity: 1;
}
/*end clients section*/

/*start footer section */
.footer{
	background: #111;
	color: #FFF;
	padding-top: 40px; 
}
.footer h2{
	letter-spacing: 1px;
	margin:  30px 0 20px;
}
.footer a{
color: #AAA;
}
.footer a:hover{
color: #FFF;	
}
.footer .three-colomns{
	overflow: hidden;
}
.footer .three-colomns li{
	width: 33.3333%;
	float: left;
	padding: 5px 0;
} 
.footer .social-list{
	overflow: hidden;
}
.footer .social-list li{
	float: left;
	margin-right: 3px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-webkit-transition:0.7s ease;
	-moz-transition:0.7s ease;
	-o-transition:0.7s ease;
	transition:0.7s ease;
	margin-right: 5px;
}
.footer .social-list li:hover{
	opacity: 1;
}
.footer .img-thumbnail{
	background: rgba(0,0,0,0.4);
	border: 1px solid #444;
	margin-bottom: 5px;	
	margin-right: 5px;
}
.footer .copyright{
	background: #333;
	color: #AAA;
	padding: 15px;
	margin-top: 20px;
	font-size: 18px;

}








/*
	color: #0895D1

*/



/*end footer section */













