.tool-option .color-box,
.testimonials .carousel-indicators li,
.dropdown-menu{
	border: 3px solid #8730e6;
	
}
.tool-option i,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.carousel-indicators .active,
.dropdown-menu>li>a:focus,
 .dropdown-menu>li>a:hover
{
	background-color: #8730e6
}
.about h1 span,
.testimonials span{
	color: #8730e6
}
.footer .copyright span,
.footer h2,
.navbar-brand span{
	color: #8730e6;
}
